@model FunctionViewModel
@{
    var auth = UnobtrusiveSession.Session["Auth"] as IList<Auth>;
    var action = ViewContext.RouteData.Values["action"] as string;
    var function = auth.First(x => x.Code == "Function" + action);
    var edit = auth.Any(x => x.Code == "FunctionEdit");
    ViewBag.Title = function.ModuleName + " / " + function.GroupName + " / " + function.SimpleName;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">@function.ModuleName</a>
            </li>
            <li>
                @Html.ActionLink(function.GroupName, "Index")
            </li>
            <li class="active">
                <strong>@function.SimpleName</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModuleID, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ModuleID, Model.ModuleList, string.Format(Resource.PleaseSelect, Resource.Module), new { @class = "form-control selectpicker", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupSequence, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.GroupSequence, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SimpleName, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.SimpleName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("", Resource.Dependency, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4 dependency">
                                @foreach (var item in Model.DependencyFunctionList)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="DependencyFunction" value="@item.BitCode" data-bit="@item.BitCode" data-dependency="@item.Dependency" disabled @((item.BitCode & Model.Dependency) == item.BitCode ? "checked" : "") />
                                        @item.SimpleName
                                    </label>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ControllerName, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ControllerName, Model.ControllerList, string.Format(Resource.PleaseSelect, Resource.ControllerName), new { @class = "form-control selectpicker", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActionName, htmlAttributes: new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ActionName, Model.ActionList, string.Format(Resource.PleaseSelect, Resource.ActionName), new { @class = "form-control selectpicker", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("", Resource.Function, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-4 mlten">
                                <label class="checkbox-inline">
                                    @Html.EditorFor(model => model.IsEnable, new { htmlAttributes = new { disabled = "disabled" } })
                                    @Resource.IsEnable
                                </label>
                                <label class="checkbox-inline">
                                    @Html.EditorFor(model => model.DisplayTree, new { htmlAttributes = new { disabled = "disabled" } })
                                    @Resource.DisplayTree
                                </label>
                                <label class="checkbox-inline">
                                    @Html.EditorFor(model => model.DisplayHeader, new { htmlAttributes = new { disabled = "disabled" } })
                                    @Resource.DisplayHeader
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                @if (edit)
                                {
                                    <a id="edit_btn" href="@Url.Action("Edit", "Function", new { id = Model.ID })" class="btn btn-success"><i class="fa fa-pencil"></i> @Resource.Edit</a>
                                }
                                <a id="exit_btn" href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-sign-out"></i> @Resource.Exit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
